<script>
$(document).ready(function(){
    $('#item_search_btn').click(function(){
        $('#item_search_form').attr(
            {
                'action':'[[@{/item/searchimpl}]]',
                'method':'post'
            }
        );
        $('#item_search_form').submit();
    });
});
</script>
<style>
    .item_img{
        width:80px;
    }
</style>
<div class="container">
    <div class="col-sm-10">
    <h2>Item List</h2>
        <p>Item Information List</p>
        <form id="item_search_form">
            <div class="input-group col-sm-3">
                <input type="text" name="txt" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                    <button id="item_search_btn" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <table class="table table-striped">
        <thead>
        <tr>
            <th>IMG</th>
            <th>ID</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>RDATE</th>
            <th th:if="${session.logincust != null} and ${#session.getAttribute('userRole') == 'user'}">CART</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="item:${items.getList()}">
            <td>
                <a th:href="@{/item/detail(id=${item.id})}">
                    <img class="item_img" th:src="@{/img/}+${item.imgname}">
                </a>
            </td>
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${#dates.format(item.rdate, 'yyyy-MM-dd')}"></td>
            <td th:if="${session.logincust != null} and ${#session.getAttribute('userRole') == 'user'}">
                <a th:href="@{/item/addcart(id=${item.id})}" class="btn btn-info" role="button">ADD CART</a>
            </td>

        </tr>
        </tbody>
    </table>
        <ul class="pagination">
            <li th:classappend="${items.getPrePage() == 0} ? 'disabled'">
                <a th:href="@{/item/getpage(pageNum=${items.getPrePage()})}">Previous</a>
            </li>
            <li th:each="page: ${#numbers.sequence(items.getNavigateFirstPage(), items.getNavigateLastPage())}" th:classappend="${page == items.getPageNum()} ? 'active'">
                <a th:text="${page}" th:href="@{/item/getpage(pageNum=${page})}"></a>
            </li>
            <li th:classappend="${items.getNextPage() == 0} ? 'disabled'">
                <a th:href="@{/item/getpage(pageNum=${items.getNextPage()})}">Next</a>
            </li>
        </ul>
        </div>
</div>
