<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <title>Bootstrap Example</title>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

<!--    <style>-->

<!--        .form-control {-->
<!--            width: 500px;-->
<!--            height: 30px;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<h1 >👨‍👩‍👧‍👦CUSTOMER👨‍👩‍👧‍👦</h1>-->
<!--<h1>JOIN</h1>-->

<!--<form action="/action_page.php" style="width: 500px;">-->
<!--    <div class="form-group">-->
<!--        <label for="id">ID:</label>-->
<!--        <input type="text" class="form-control" id="id">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="pwd">PASSWORD:</label>-->
<!--        <input type="password" class="form-control" id="pwd">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="name">NAME:</label>-->
<!--        <input type="text" class="form-control" id="name">-->
<!--    </div>-->

<!--    <button type="submit" class="btn btn-default" style="float: right;">Submit</button>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->
<script>
        $(document).ready(function(){
            $('#register_form > button').click(function(){
                $('#register_form').attr(
                    {
                        'action':'[[@{/cust/addimpl}]]',
                        'method':'post'
                    }
                );
                $('#register_form').submit();
            });
        });
    </script>
<div class="container">
    <div class="col-sm-5">
        <h2>Register</h2>
        <form id="register_form">
            <div class="form-group">
                <label for="id">ID:</label>
                <input type="text" class="form-control" id="id" placeholder="Enter ID" name="id">
                <span id="ispan"></span>
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
            </div>

            <div class="form-group">
                <label for="name">NAME:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
            </div>

            <button class="btn btn-default">REGISTER</button>
        </form>
    </div>
</div>