<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.CartsMapper">

    <select id="select" parameterType="Integer" resultType="CartsDTO">
        SELECT ca.id, ca.cust_id, it.name as item_name, it.price as item_price,
               it.imgname as item_imgname,ca.cnt, ca.rdate, it.id as item_id
        FROM cart ca
                 INNER JOIN item it ON ca.item_id = it.id
        WHERE ca.id = #{id}
    </select>
    <select id="getPage" resultType="CartsDTO">
        SELECT * FROM carts
    </select>
    <select id="selectall" resultType="CartsDTO">
        SELECT ca.id, ca.cust_id, cu.name as cust_name, it.name as item_name,
               it.price as item_price, ca.cnt, ca.rdate, it.imgname as item_imgname,
               it.id as item_id
        FROM cart ca
                 INNER JOIN cust cu ON ca.cust_id = cu.id
                 INNER JOIN item it ON ca.item_id = it.id
    </select>

    <insert id="insert" parameterType="CartsDTO">
        INSERT INTO cart VALUES (NULL, #{cust_id}, #{item_id}, #{cnt}, SYSDATE())
    </insert>
    <update id="update" parameterType="CartsDTO">
        UPDATE cart SET item_id =#{item_id}, cnt=#{cnt} WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM cart WHERE id = #{id}
    </delete>

    <select id="cartsall" parameterType="String" resultType="CartsDTO">
        SELECT ca.id, ca.cust_id, cu.name as cust_name, it.name as item_name,
               it.price as item_price, ca.cnt, ca.rdate, it.imgname as item_imgname,
               it.id as item_id
        FROM cart ca
                 INNER JOIN cust cu ON ca.cust_id = cu.id
                 INNER JOIN item it ON ca.item_id = it.id
        WHERE ca.cust_id = #{cust_id}
    </select>
    <select id="cartsallpage" parameterType="String" resultType="CartsDTO">
        SELECT ca.id, ca.cust_id, cu.name as cust_name, it.name as item_name,
        it.price as item_price, ca.cnt, ca.rdate, it.imgname as item_imgname,
        it.id as item_id
        FROM cart ca
        INNER JOIN cust cu ON ca.cust_id = cu.id
        INNER JOIN item it ON ca.item_id = it.id
        WHERE ca.cust_id = #{cust_id}
    </select>

</mapper>