<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ShopItemMapper">


    <select id="shopitemall" parameterType="String" resultType="shopItemDTO">
        SELECT * FROM shop_item WHERE shop_id=#{shop_id}
    </select>



</mapper>