<script>
    function delcart(did) {
        var c = confirm("삭제하시겠습니까?");
        if(c == true) {
            location.href = '/cart/deleteimpl?id='+did+'&cid=[[${session.logincust.id}]]';
        }
    }
</script>
<style>
    .item_img{
        width:50px;
    }

</style>
<div class="container">
    <div class="col-sm-10">
        <h2>Cart List</h2>
        <p>Cart Information List</p>

        <div th:if="${#lists.size(mycarts) != 0}">
            <h3 th:text ="|합계: ${#aggregates.sum(mycarts.![item_price * cnt])}|"></h3>
        </div>
        <div th:if="${#lists.size(mycarts) == 0}">
            <h3>합계: 0</h3>
        </div>





        <table class="table table-striped col-sm-10"  >
            <thead>
            <tr>
                <th>IMG</th>
                <th>ID</th>
                <th>ITEM_NAME</th>
                <th>PRICE</th>
                <th>CNT</th>
                <th>TOTAL</th>
                <th>RDATE</th>
                <th>DELETE</th>




            </tr>
            </thead>
            <tbody>
            <tr th:each="i:${items.getList()}">
                <td>
                    <a href="">
                        <img th:src="'/img/'+${i.item_imgname}" class="item_img">
                    </a>
                </td>
                <td th:text="${i.id}"></td>
                <td th:text="${i.item_name}"></td>
                <td th:text="${i.item_price}"></td>
                <td th:text="${i.cnt}"></td>
                <td th:text="${i.item_price} * ${i.cnt}"></td>
                <td th:text="${#dates.format(i.rdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
<!--                    <a th:href="@{/cart/delete(id=${i.id})}" class="btn btn-info" role="button">DELETE</a>-->
                    <button type="button" class="btn btn-danger"
                    th:onclick="delcart([[${i.id}]]);">DELETE</button>
                </td>


            </tr>

            </tbody>
        </table>
        <ul class="pagination">
            <li th:classappend="${items.getPrePage() == 0} ? 'disabled'">
                <a th:href="@{/cart(pageNum=${items.getPrePage()}, id=${session.logincust.id})}">Previous</a>
            </li>
            <li th:each="page: ${#numbers.sequence(items.getNavigateFirstPage(), items.getNavigateLastPage())}" th:classappend="${page == items.getPageNum()} ? 'active'">
                <a th:text="${page}" th:href="@{/cart(pageNum=${page}, id=${session.logincust.id})}"></a>
            </li>
            <li th:classappend="${items.getNextPage() == 0} ? 'disabled'">
                <a th:href="@{/cart(pageNum=${items.getNextPage()}, id=${session.logincust.id})}">Next</a>
            </li>
        </ul>
    </div>
</div>

