
<style>
#all {
	width: 400px;
	height: 200px;
	overflow: auto;
	border: 2px solid red;
}

#me {
	width: 400px;
	height: 200px;
	overflow: auto;
	border: 2px solid blue;
}

#to {
	width: 400px;
	height: 200px;
	overflow: auto;
	border: 2px solid green;
}
</style>

<script>
var stompClient = null;
var id = '[[${session.logincust.id}]]';
// 서버소켓에 연결
function connect() {//접속시도
	var socket = new SockJS('http://101.101.219.153/ws');
	stompClient = Stomp.over(socket);

	stompClient.connect({}, function(frame) {//3가지 connect 받을 준비.
		setConnected(true);//커넥트 이름 바꾸기
		console.log('Connected: ' + frame);

		stompClient.subscribe('/send/'+id, function(msg) {
			$("#me").prepend(
					"<h4>" + JSON.parse(msg.body).sendid +":"+
					JSON.parse(msg.body).content1+"</h4>");
		});

	});
}



// connect&disconnect버턴 활성화/비활성화
function setConnected(connected) {
	if (connected) {
		$("#status").text("Connected");
	} else {
		$("#status").text("Disconnected");
	}

}

// 서버에 메세지 요청 메서드

function sendMe() {
	var msg = JSON.stringify({
		'sendid' : id,
		'content1' : $('#metext').val()
	});
	stompClient.send("/chatbotme", {}, msg);
}

$(document).ready(function() {
	connect();
	$("#sendme").click(function() {
		sendMe();
	});

});
</script>


<div class="container">
    <div class="col-sm-5">
        <h1>Chatbot</h1>
        <H1 th:text="${session.logincust.id}">ID</H1>
        <H1 id="status">Status</H1>




        <input type="text" id="metext"><button id="sendme">Send</button>

        <div id="me"></div>

    </div>
</div>
