<script>
        $(document).ready(function(){
            $('#weather_form > button').click(function(){
                $('#weather_form').attr(
                    {
                        'action':'[[@{/weatherimpl}]]',
                        'method':'post'
                    }
                );
                $('#weather_form').submit();
            });
        });
        </script>
<div class="container">
    <div class="col-sm-5">
        <h2>Weather</h2>
        <form id="weather_form">
            <div class="form-group">
                <label for="loc">날씨조회</label>
                <select id="loc" name="loc" class="form-control">
                    <option value="105">강원도</option>
                    <option value="108">전국</option>
                    <option value="109">서울, 인천, 경기도</option>
                    <option value="131">충청북도</option>
                    <option value="133">대전, 세종, 충청남도</option>
                    <option value="146">전라북도</option>
                    <option value="156">광주, 전라남도</option>
                    <option value="159">대구, 경상북도</option>
                    <option value="184">제주도</option>
                </select>
            </div>
            <button class="btn btn-default">조회</button>
        </form>
        <textarea class="form-control" cols="100" rows="20" id="comment"
             th:text="${result}"></textarea>
    </div>
</div>
